
body {
    font-family: 'DM Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.card-list-item {

}

.card-list-image {
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-list-title {
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #000000;

}

.card-list-genre, .card-list-year {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #FF6B01;
}

.card-list-genre {
    padding-right: 5px;
    margin-right: 5px;
    border-right:  1px solid #FF6B01;
}

.card-list-vote {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #FFFFFF;
  background-color: #FF6B01;

  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
